@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Montserrat',sans-serif;
    line-height:1.6;
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
    color:#fff;
}
h1{
    font-weight:400;
    line-height:1.2;
    margin:5px 0;
}
p{
    margin:5px 0;
    color:#fff;
}
img{
    width:100%;
}
.navbar{
    height:70px;  
}
.footer{
    border: 1px solid #272727;
}
.footer .logo{
    padding:10px 0px;
}
.navbar .flex{
    justify-content:space-between;
}
.navbar .logo,.footer .logo{
    width:72px;
}
.footer .logo{
    align-items:center;
}
.navbar ul{
    display:flex;
}
.navbar a{ 
    margin:0 5px;
    padding: 15px;
    transition: all 0.1s  linear ;
}
.navbar a:hover{
    color:#F27034;
    background-color: rgba(255,255,255,0.05);
}
.showcase{
    height:550px;
    background:url(./images/food_on_table2.png) no-repeat center bottom;
    background-size:cover;
    color:#fff;
    position:relative;
}
.showcase .heading{
    font-family:Rockwell;
    font-size:54px;
    margin-left:10px;
}
.showcase .container div{
    margin:50px 0;
    position:absolute;
    top:20%;
}
.showcase .container p{
    font-size:24px;
    letter-spacing:1.2px;
    margin-left:10px;
}
.reservation,.reservation .flex{
    height:140px;
    background:#F27034;
    justify-content:space-between;
    font-size:17px;
}
.reservation .container .btn{
    border-color:#fff;
}

.menu, .contact, .footer,.navbar{ 
    background:#141414;
}
.menu h1,.contact h1{
    font-size:32px;
    font-weight:500;
    color:#fff;
    margin:auto;
    padding:40px 0;
    align-items:center;
}
.empty{
    width:100%;
    height:70px;
    background:#141414;
}
.bg-image1{
    background:url(./images/samosa.jpg) no-repeat center center;
    background-size:cover;
}
.bg-image2{
    background:url(./images/panipuri.jpg) no-repeat center center;
    background-size:cover;
}
.bg-image3{
    background:url(./images/dosa.jpg) no-repeat center center;
    background-size:cover;
}
.bg-image4{
    background:url(./images/jalebi.jpg) no-repeat center center;
    background-size:cover;
}
.bg-image5{
    background:url(./images/pizza.jpg) no-repeat center center;
    background-size:cover;
}
.bg-image6{
    background:url(./images/pasta.jpg) no-repeat center center;
    background-size:cover;
}
.bg-image7{
    background:url(./images/burger.jpg) no-repeat center center;
    background-size:cover;
}
.bg-image8{
    background:url(./images/cake.jpg) no-repeat center center;
    background-size:cover;
}
.card .content h2,.card .content p ,.card .content .btn{
    text-align:center;
    display:flex;
    justify-content:center;
    margin:4px auto;
}
.card .content h2{
    color:#fff;
}
.card .content .btn{
    padding:4px;
    margin:8px 40px;
    margin-bottom:10px;
    border-radius: 17px; 
}
.order{
    background:#EAEAEA;
}
.order .grid{
    gap:20px;
    grid-template-columns:repeat(3,1fr);
}
.order-details{
    margin:30px auto;
    align-items:flex-start;
    justify-content:start;
}
.order h1{
    font-size:32px;
    font-weight:500;
    color:#F27034;
    margin:auto;
    padding:40px 0;
    align-items:center;
}
.order .order-details h2{
    font-size:28px;
    color:#000;
    padding-bottom:10px;
}
.map{
    border: 5px groove #afafaf;
    border-radius:5px;
}
.order .empty{
    height:30px;
    background-color:#EAEAEA;
}
.order .order-details{
    margin:auto;
}
.order .order-details p{
    color:#000;
}
.order .map iframe{
    width:400px;
    height:400px;
    object-fit:cover;
    margin:auto;
}
.order .order-details p,
.contact .grid{
    grid-template-columns:repeat(2,1fr);
}
.contact .contact-Us h2{
    font-size:28px;
    color:#fff;;
    padding-bottom:10px;
    align-items:flex-start;
    justify-items: flex-start;
}
.contact .contact-Us div{
    margin: 20px 0px;
    font-size:18px;
}
.fas{
    margin-right:15px;
}
.contact .container{
    align-items:flex-start;
}
.contact .contact-Us{
    padding:60px;
}
.contact-form{
    width:500px;
    position:relative;
    padding:40px;
    z-index:100;
    justify-self:flex-end;
    color:#fff;
}
.contact-form h2{
    margin: 5px 10px;
}
.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form input[type='password'],
.contact-form #textarea{
width:100%;
font-size:16px;
border:1px solid #fff;
background-color:transparent;
padding: 8px 5px;
margin: 5px 10px;
color:#fff;
}
.contact-form input:focus{
    outline:none;
}
.contact-form .btn{
    padding:10px 15px;
}
.contact-form .btn:hover{
    color:#fff;
}
@media screen and (max-width:768px){
.navbar .container, .showcase .container,
.reservation .container, .menu .container,
.order .container, .contact .container{
    margin:0 14px;
}
.menu .grid{
    grid-template-columns:repeat(2,1fr);
}
.menu .card-menu{
    margin:50px auto;
}
.order .grid, .contact .grid{
    grid-template-columns:repeat(1,1fr); 
}
.order .map ,.order .order-details,.deliveryboy,
.contact .contact-Us, .contact .contact-form
{
    margin:10px auto;
}
}
@media screen and (max-width:480px) and (min-width:300px){
    .navbar{
        height:130px;  
    }
    .navbar .flex{
        flex-direction:column;
        margin:0;
        padding:0;
    }
    .navbar ul{
        font-size:15px;
        padding:10px;
        background-color:rgba(255,255,255,0.2);
        border-radius:6px;
        margin:auto;
    }
    .navbar a{ 
        margin:0 5px;
        padding: 5px; 
    }
    .navbar .logo, .navbar nav{
        margin:10px auto;  
    }
    .showcase{
        height:350px;
    }
    .showcase .heading{
        font-size:44px;
    }
    
    .showcase .container div{
        text-align:center;
        margin:15px auto;
        top:10%;
    }
    .reservation .flex{
        flex-direction:column;
        margin:auto; 
    }
    .reservation p{
        width:80%;
    }
    .reservation p, .reservation .btn{
        font-size:16px;
        text-align:center;
        margin:10px auto;
    }
    .menu .grid{
        grid-template-columns:repeat(1,1fr);
    }
    .order .order-details{
        width:300px
    }
    .order .container{
        margin:auto;
        text-align:center;
    }
    .order .map iframe{
        width:300px;
        height:300px;
        object-fit:cover;
        margin:auto;
    }
    
    .contact .container{
        width:80%;
        padding:0;
        margin:0;
    }
    .contact .contact-Us{
        text-align:center;
        width:90%;
        margin:5px auto;
        padding:20px auto;
    }
    .contact-form{
        width:300px;
        justify-self:center;
        margin:10px auto;
        padding:0;
    }
     .contact .contact-form h2{
        margin:10px auto;
        text-align:center;
    }
    
}
